<% provide(:title, 'About') %>
<p>This is a sample application showcasing the basic capabilities of Ruby on Rails!
  If you want to learn more, feel free to
  <a href="http://www.railstutorial.org/#contact">contact us</a>.

</p>
