<% provide(:title, 'About') %>
<div class="about-page">
<div class="container-fluid">
  <h1>About me</h1>
  <h2>I'm an artist by trade and as a hobby</h2>
    <ul>
      <li>I'm a regular vendor at Comic-con and Fantasy-con.</li>
      <li>I take commision artwork for people.</li>
      <li>I'm a painter.</li>
      <li>I like to draw as well.</li>
      <li>I've even gotten into this newfangled thing called digital art.</li>
    </ul>

  <h2>I have hobbies!</h2>
    <ul>
      <li>I enjoy being outside and doing things like:</li>
        <ul>
          <li>Snowboarding</li>
          <li>Mountain Biking</li>
          <li>Running</li>
          <li>and Longboarding</li>
        </ul>
      <li>And I enjoy playing videogames like Starcraft or Mass Effect</li>
    </ul>
</div>
</div>
