@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
  background-color: #F4E5D6;
  color: #7D0727
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn-primary {
  background-color: #7D0727;
  border-color: #B93242;
}

.navbar-inverse {
  background-color: #7D0727;
}

.navbar-inverse
.navbar-nav > li > a {
  color: #F4E5D6;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #7D0727;
}

h2 {
  font-size: 16px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #BE6A53;
}

p {
  font-size: 20px;
  line-height: 1.7em;
}

a {
  color: #7D0727;
}


/* header */

#logo {
  float: left;
  margin-right: 20px;
  font-size: 1.7em;
  color: #F4E5D6;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  &:hover {
    color: #B93242;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #BE6A53;
  color: #BE6A53;
  a {
    color: #BE6A53;
    &:hover {
      color: #7D0727;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
